@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
li, a, button {
    text-decoration: none;
}
header {
    width: 100%;
    position: fixed;
    display: flex;
    background-color: rgba(220, 20, 60, 0.5);
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
}
#logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: chartreuse;
    cursor: no-drop;
}
#logo1 {
    color: aqua ;
}
#navbar {
    list-style: none;
}
#navbar li {
    display: inline-block;
    padding: 0 30px;
}
#navbar li a {
    color: white;
}
#navbar li a:hover {
    color: chartreuse;
}
#navbar li a:active {
    color: aqua;
}
button {
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 18px;
    color: crimson;
    cursor: pointer;
}
button:hover {
    background-color: chartreuse;
}
button:active {
    background-color: aqua;
}
#home {
    padding-top: 150px;
    display: block;
    background-color: rgb(26, 26, 26);
    padding-bottom: 100px;
    padding-left: 8%;
}
#text-container {
    vertical-align: top;
    display: inline-block;
    padding-top: 170px;
    margin-left: 20px;
}
.intro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    word-spacing: 12px;
    color: white;
}
span {
    color: crimson;
}
#img-container {
    display: inline-block;
    padding-top: 50px;
    padding-left: 15%;
}
#prof {
    max-width: 500px;
    border: 0;
    border-radius: 50%;
}
#about {
    padding: 50px 20px;
    display: block;
}
#about h1 {
    text-align: center;
}

#about {
    padding-top: 100px;
    display: block;
}
#about-span {
    text-align: center;
    color: crimson;
    margin-bottom: 50px;
}
#about #prof-container, #about #text-container {
    display: inline-block;
}
#about #text-container {
    line-height: 30px;
    word-spacing: 10px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    max-width: 60%;
}
#name-container {
    margin-bottom: 20px;
}
#paragraph-container {
    margin-bottom: 20px;
}
#paragraph-container p {
    overflow-wrap: break-word;
    text-indent: 50px;
}
#about #prof-container img {
    border: 0;
    border-radius: 0;
}
#projects {
    padding: 100px 50px;
    display: block;
    text-align: center;
    background-color: rgb(26, 26, 26);
    color: white;
}
#projects-container {
    display: block;
    padding: 15%;
}
.projectdisplay {
    display: inline-block;
    height: 200px;
    width: 30%;
    background-color: aqua;
    border: 2px solid crimson;
    margin: 10px;
}
#contact {
    display: block;
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
}
#contact h1 {
    margin-bottom: 100px;
}
#contact div h2 {
    display: inline-block;
    vertical-align: bottom;
}
.contact-container div {
    margin-bottom: 40px;
}
.contact-container div .a {
    height: 60px;
    width: 50%;
    border-radius: 50px;
    border-style: solid;
    padding-left: 20px;
    box-shadow: inset 5px -5px 5px rgba(0, 0, 0, 0.2),
    inset -1px 0px 5px rgba(128, 128, 128, 0.5);
}
.input6 input {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 60px;
    width: 200px;
    border-radius: 100px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.5);
    background-color: aqua;
}
.input6 input:hover {
    background-color: chartreuse;
    color: white;
    border-color: white;
}
.input6 #submit-button:active {
    box-shadow: 3px 3px 5px 1px rgba(128, 128, 128, 0.5);
    height: 59px;
    width: 198px;
    color: crimson;
}